%section.row.nested-fields[f.object]
  = link_to_remove_association '✖', f,
    class: 'close', title: 'Destroy <%= ref_name.titleize %>',
    data: {confirm: 'Are you sure you want to destroy this entity and all its children.'}
  %br
<% ref_attributes.each do |name, attribute| -%>
  = f.input :<%= name %>, (respond_to?('<%= attribute.type %>_edit') ? send('<%= attribute.type %>_edit',
      f.object.<%= name %>, f.object.class.columns_hash['<%= name %>']) : {})
<% end -%>
  %hr
